$bg: #f3f8fa;
$white: #fff;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.button {
  bottom: 5%;
  left: 5%;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  &.longBtn-learn-more {
    width: 8.5rem;
    height: auto;
    .longBtn-circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 1.625rem;
      .longBtn-icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: rgb(244, 244, 244);
        &.longBtn-arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.16rem;
          width: 1.125rem;
          height: 0.135rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.28rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            transform: rotate(45deg);
          }
        }
      }
    }
    .longBtn-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.25rem 0;
      margin: 0 0 0 1.85rem;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      opacity: 0%;
    }
  }
  &:hover {
    transition: box-shadow 0.8s ease-out 0s;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 6px;
    border-radius: 1.625rem;
    .longBtn-circle {
      width: 100%;
      .longBtn-icon {
        &.longBtn-arrow {
          transform: translate(1rem, 0);
        }
      }
    }
    .longBtn-text {
      opacity: 100%;
      transition: opacity 1.5s ease 0s;
    }
  }
}

.SplitKeyboards-container:hover .longBtn-circle {
  width: 100%;
  .longBtn-icon {
    &.longBtn-arrow {
      background: rgb(13, 17, 23, 0.75);
      transform: translate(1rem, 0);
    }
  }
}

.SplitKeyboards-container:hover .longBtn-text {
  opacity: 100%;
  transition: opacity 1.5s ease 0s;
}

@supports (display: grid) {
  #longBtn-container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}
